[

{lager, [
   {handlers, [
      {lager_console_backend, [notice, {lager_default_formatter, [time, " [",severity,"] ", message, "\n"]}]}
     ,{lager_file_backend,    [
			{file, "log/console.log"}, {level, error}
		]}
     ,{lager_file_backend,    [
         {file, "log/ambit.log"}, {level, none}, 
         {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}
      ]}
   ]}
  ,{traces, [
      {{lager_file_backend, "log/ambit.log"}, [{ambit, req}], notice}
   ]}
]},

%%
%% cluster 
{ambit, [
   %%
   %% configuration of ring 
   {ring, [
      {type, ring}            %% ring management algorithms - chord | ring
     ,{m,      64}            %% ring modulo
     ,{q,    4096}            %% number of shards
     ,{n,       3}            %% number of replica
     ,{hash,  sha}            %% hashing algorithm
   ]},
   
   %%
   %% list of seed nodes
   {seed,      ['a@127.0.0.1']},

   %%
   %% size of i/o pool
   {pool,      2000},

   %%
   %% vnode active anti-entropy, frequency of sessions and capacity
   {aae,       {1200000, 2.0}}

   %%
   %% actor timers
  ,{tte,       60000}     %% time-to-evict actor 
]},

%%
%% client
{ambitz, [
   {seed,      ['a@127.0.0.1']}
]},


%%
%% active anti-entropy
{aae, [
   {session,  60000},         %% session config timeout
   {capacity,    10}          %% capacity 
]}

].