[

{lager, [
   {handlers, [
      {lager_console_backend, [debug, {lager_default_formatter, [time, " [",severity,"] ", message, "\n"]}]}
     ,{lager_file_backend,    [
			{file, "log/console.log"}, {level, debug}
		]}
     ,{lager_file_backend,    [
         {file, "log/ambit.log"}, {level, none}, 
         {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}
      ]}
   ]}
  ,{traces, [
      {{lager_file_backend, "log/ambit.log"}, [{ambit, req}], notice}
   ]}
]},

%%
%%
{ambit, [
   %%
   %% configuration of ring 
   {ring, [
      {type, ring}            %% ring management algorithms - chord | ring
     ,{m,      64}            %% ring modulo
     ,{q,    4096}            %% number of shards
     ,{n,       2}            %% number of replica
     ,{hash,  sha}            %% hashing algorithm
   ]},
   
   %%
   %% list of seed nodes
   {seed,      ['a@127.0.0.1']},

   %%
   %% vnode active anti-entropy, frequency of sessions and capacity
   {aae,          {12000, 1.0}}

   %%
   %% actor timers
   % {ttl,           60000},  %% time-to-live  (kill actor process)
   % {ttd,           20000}   %% time-to-death (remove actor record)
]},


%%
%% active anti-entropy
{aae, [
   {session,  60000},         %% session config timeout
   {capacity,    10}          %% capacity 
]}

].